[apply]
        whitespace = nowarn
[alias]
        co = checkout
        st = status
        promote = !$ZSH/bin/git-promote
        wtf = !$ZSH/bin/git-wtf
        rank-contributers = !$ZSH/bin/git-rank-contributers
        count = !git shortlog -sn
        standup = log --since '1 day ago' --oneline --author AUTHOREMAIL
        undo = reset --soft HEAD^
        graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
[branch]
        autosetuprebase = always
[diff]
        algorithm = patience
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        autocrlf = input
        excludesfile = ~/.gitignore
        editor = subl -w
[credential]
        helper = GIT_CREDENTIAL_HELPER
[hub]
        protocol = https
[push]
        default = simple
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[url "https://"]
        insteadOf = git://
