[apply]
        whitespace = nowarn
[alias]
        co = checkout
        st = status
        promote = !$ZSH/bin/git-promote
        wtf = !$ZSH/bin/git-wtf
        rank-contributers = !$ZSH/bin/git-rank-contributers
        count = !git shortlog -sn
[branch]
        autosetuprebase = always
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        autocrlf = input
        excludesfile = ~/.gitignore
        editor = vim
[credential]
        helper = GIT_CREDENTIAL_HELPER
[help]
        autocorrect = 1
[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
