.config/sublime-text-3.symlink/Backup
.config/sublime-text-3.symlink/Packages/User/Color Highlighter/icons
.config/sublime-text-3.symlink/Packages/SublimeCodeIntel/
.config/sublime-text-3.symlink/Packages/SublimeLinter/messages
git/gitconfig.symlink
